[Unit]
Description=Microsoft SQL Server 2022

[Container]
Image=mssql.image
Environment=ACCEPT_EULA=Y
Environment=MSSQL_SA_PASSWORD=EDIT_YOUR_SA_PASSWORD_HERE
PublishPort=1401:1433
Volume=mssql.volume:/var/opt/mssql:rw

[Install]

WantedBy=default.target
